<p id="notice"><%= notice %></p>

<h3>From:</h3>
<pre class="show-hate"><%= @sm.from %></pre>

<h3>Message:</h3>
<pre class="show-hate"><%= @sm.message %></pre>

<% if @sm.is_hate %>
  <h4 class="hate_true">This message is considered hate speech</h4>
<% else %>
  <h4 class="hate_false">This message is neutral</h4>
<% end %>
<hr>
<%= link_to 'Back', sms_path %>
