<p id="notice"><%= notice %></p>

<h3>From:</h3>
<strong><%= @sm.from %></strong>

<h3>Message:</h3>
<strong><%= @sm.message %></strong>

<h3>Hate?:</h3>
<% if @sm.is_hate %>
  <h4 class="hate_true">This message is considered hate speach</h4>
<% else %>
  <h4 class="hate_false">This message is neutral</h4>
<% end %>
<hr>
<%= link_to 'Back', sms_path %>
